{% extends "layoutUser.html.twig" %}
{% block login %}
<li><a href="{{ path('userdash') }}"> Welcome {{ name }}</a>
<li><a href="contact.html">Contact</a>
<li><a href="{{ path('fos_user_security_logout') }}">Logout</a>
    {% endblock %}
    {% block content %}



    {% endblock %}
